<template>
	<header>
		<v-toolbar
			dense
			color="green darken-3"
      dark
		>
			<router-link :to="{name: 'tasklist'}">
				TODO
			</router-link>
			<v-spacer></v-spacer>
			<router-link :to="{name: 'tasklist'}">
				<v-btn text dark color="amber darken-3">
					LOGOUT
				</v-btn>
			</router-link>
		</v-toolbar>
	</header>
</template>

<style scoped>
header {
	max-width: 700px;
	margin-right: auto;
	margin-left: auto;
}
</style>