<template>
	<div class="main">
		<div class="task-header">
			<ul class="task-header-actions">
				<li class="task-header-action right">
					<v-btn dark small color="amber darken-3" v-if="!task.completed">
						<v-icon dark>done</v-icon>
						<v-spacer></v-spacer>
						COMPLETE
					</v-btn>
				</li>
			</ul>
		</div>
		<div class="task-detail">
			<v-form v-model="form">
				<v-textarea
					name="task-title"
					label="title"
					v-model="task.title"
					prepend-icon="short_text"
					box
					auto-grow
					rows="1"
					color="green darken3"
				>
				</v-textarea>
        <v-menu
					v-model="taskPicker"
					:close-on-content-click="false"
					:nudge-right="40"
					:return-value.sync="date"
					lazy
					transition="scale-transition"
					offset-y
					full-width
					min-width="290px"
				>
					<v-text-field
						slot="activator"
						v-model="task.deadline"
						label="deadline"
						prepend-icon="event"
						color="green darken3"
						readonly
						clearable
					>
					</v-text-field>
					<v-date-picker
						v-model="task.deadline"
						no-title
						scrollable
						color="green darken3"
						header-color="green darken3"
						@input="taskPicker = false"
					>
					</v-date-picker>
				</v-menu>
				<v-textarea
					name="task-memo"
					label="memo"
					v-model="task.memo"
					prepend-icon="notes"
					box
					auto-grow
					color="green darken3"
				>
				</v-textarea>
			</v-form>
		</div>
		<div class="task-footer">
				<ul class="task-footer-actions">
						<li class="task-footer-action right">
							<v-btn dark small color="amber darken-3">
								UPDATE
							</v-btn>
						</li>
				</ul>
		</div>
	</div>
</template>

<script>
// import moment from 'moment'

export default {
	props: {
		id: {
			type: String,
			required: true
		}
	},
  data: function() {
    return {
      task: {
				title: 'aaa bbb',
				deadline: new Date(2019,1,1).toISOString().substr(0, 10),
				memo: 'memomemo',
				completed: false
			},
			form: false,
			taskPicker: false,
    }
  }
}
</script>

<style scoped>
.task-header {
	padding: 0 1rem 0 1rem;
}

.task-header-actions {
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.task-header-action:not(:last-child) {
	margin-right: 0.2rem;
}

.task-detail {
	margin:0.5rem 1rem 0 1rem;
	padding: 1rem;
  border-top: 1px solid #6db148;
	border-bottom: 1px solid #6db148;
}

.task-footer {
  margin-top: 0.5rem;
	padding: 0 1rem 0 1rem;
}

.task-footer-actions {
	display: flex;
	flex-flow: row;
	list-style-type: none;
}
</style>