<template>
  <div class="main">
		<div class="task-header">
			<v-btn-toggle v-model="selectedFilter">
				<v-btn
					v-for="(filter,idx) in filters"
					:key="filter.text"
					@click="selectedFilter = idx"
					color="amber darken-3"
					class="white--text"
					small
				>
					{{ filter.text }}
				</v-btn>
			</v-btn-toggle>
			<v-btn
				color="amber darken-3"
				class="white--text"
				small
			>
				create
			</v-btn>
		</div>
    <div class="tasks">
			<div class="task" v-for="task in filteredTasks" :key="task.id" :item="task">
				<div class="task-upper">
					<div class="task-name">
						{{ task.title }}
					</div>
					<div class="right">
						<v-btn dark small color="amber darken-3" v-if="!task.completed">
							<v-icon dark>done</v-icon>
							<v-spacer></v-spacer>
							COMPLETE
						</v-btn>
					</div>
				</div>
				<div class="task-lower">
					<div class="task-deadline" v-if="task.deadline !== null" :class="{ 'task-deadline-expired': isTaskExpired(task) }">
						deadline：<span>{{ task.deadline | toDate }}</span>
					</div>
					<div class="task-actions right">
						<router-link :to="{name: 'task', params: { id: task.id }}">
							<v-btn fab dark small color="amber darken-3">
								<v-icon dark>edit</v-icon>
							</v-btn>
						</router-link>
						<v-btn fab dark small color="amber darken-3">
							<v-icon dark>delete_sweep</v-icon>
						</v-btn>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import moment from 'moment'

export default {
  data: function() {
    return {
			selectedFilter: 0,
			filters: [
				{ text: 'all', func: (task) => this.isTaskIncomplete(task) },
				{ text: 'expired', func: (task) => this.isTaskExpired(task) },
				{ text: 'today', func: (task) => this.beTaskGoingToExpireToday(task) },
				{ text: '1week', func: (task) => this.beTaskGoingToExpireIn1Week(task) },
				{ text: 'completed', func: (task) => this.isTaskCompleted(task) },
			],
      tasks: [
        { id: 1, title: 'aaa', deadline: moment(moment().format('YYYYMMDD'), 'YYYYMMDD'), completed: false },
        { id: 2, title: 'bbb', deadline: new Date(2019,1,1), completed: false },
        { id: 3, title: 'ccc', deadline: new Date(2019,1,26), completed: true },
        { id: 4, title: 'ccc', deadline: new Date(2019,1,27), completed: false },
        { id: 5, title: 'ccc', deadline: new Date(2019,1,28), completed: false },
        { id: 6, title: 'ccc', deadline: new Date(2019,7,27), completed: false },
        { id: 7, title: 'ddd', deadline: null, completed: false },
        { id: 8, title: 'ddd', deadline: null, completed: false },
			],
    }
	},
	filters: {
		toDate: function(date) { return moment(date).format('YYYY/MM/DD'); },
	},
	computed: {
		filteredTasks: function() {
			return this.tasks.filter((task) => this.filters[this.selectedFilter].func(task));
		}
	},
	methods: {
		isTaskIncomplete: function(task) {
			return !task.completed;
		},
		beTaskGoingToExpireToday: function(task) {
			if (this.isTaskCompleted(task)) return false;

			return moment(moment().format('YYYYMMDD'), 'YYYYMMDD').isSame(task.deadline);
		},
		beTaskGoingToExpireIn1Week: function(task) {
			if (this.isTaskCompleted(task) || this.isTaskExpired(task) || this.beTaskGoingToExpireToday(task)) return false;

			return moment(moment().format('YYYYMMDD'), 'YYYYMMDD').add(7, 'd').isSameOrAfter(task.deadline);
		},
		isTaskCompleted: function(task) {
			return task.completed;
		},
		isTaskExpired: function(task) {
			if (this.isTaskCompleted(task) || task.deadline === null) return false;

			return task.deadline < moment(moment().format('YYYYMMDD'), 'YYYYMMDD');
		},
	}
}
</script>

<style scoped>
.task-header {
	padding: 0 1rem 0 1rem;
}

.tasks {
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 1rem;
	margin-top:0.5rem;
}

.task {
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	border: 1px solid #6db148;
	cursor: pointer;
	box-shadow: 2px 2px 4px #6db148;
	margin-bottom: 1rem;
}

.task-upper {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-bottom: 0.3rem;
	border-bottom: 1px dotted #6db148;
}

.task-lower {
	display: flex;
	flex-flow: row;
	align-items: baseline;
	padding-top: 0.3rem;
}
.task-deadline-expired {
	color: red;
}

.task-actions {
	visibility: hidden;
}
.task:hover .task-actions {
	visibility: visible;
}
</style>
